
.MuiAvatar-root {
  width: 150px;
  height: 150px;
}
.logo__container {
  display: flex;
  justify-content: center;
}
// CHANNEL INFO
.channel__div {
  width: 100%;

  .chanel__container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .chanel__name {
    font-family: "Roboto";
    padding: 0.5rem;
    margin-right: 5%;
  }
  .follow {
    width: fit-content;
    max-width: 136px;
    height: fit-content;
    color: rgb(27, 25, 25);
    padding: 0.3rem 3rem;
    border-radius: 3px;
    cursor: pointer;
  }
  .similar__pages {
    display: flex;
    align-items: center;
    margin: 0 0.6rem;
    padding: 0.2rem;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    background-color: #0095f6;
  }
  .dots {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    .material-icons {
      font-size: 36px;
    }
  }
}
//  USER INFO-FOLLOWERS-POSTS
.user__info {
  display: flex;

  div {
    margin-right: 1rem;
    strong {
      margin: 0 0.3rem;
      font-weight: 900;
    }
  }
}
// CHANNEL__INFO
.channel__info {
  margin-top: 1.5rem;
  padding: 0.5rem;
  ul {
    list-style: none;
    padding: 0;
  }
}

// Post__container component
.card__container {
  width: 100%;
  // post__card component
  .post__navigation {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      cursor: pointer;
      li {
        margin-right: 2rem;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: black;
        }
      }
    }
  }
}

// POST__CARD COMPONENT
.post__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    
    $width: 20vw;
    width: $width;
    height: $width;
    max-width: 293px;
    max-height: 293px;
    overflow: hidden;
    margin: 1%;
    position: relative;
    img {
      width: 100%;
    }
    .card__likes {
       display: flex;
       opacity: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      color: white;
      font-size: 1.2rem;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
      span:last-of-type {
        margin-left: 1rem;
        
      }
     
    }
  }
}
