@import "menu";
@import "header";
@import "video__card";

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fixed {
  z-index: 100;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: yellow;
}
.header {
  padding: 7rem;
}
